@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');



body {
  background-color: #111; /* Cor de fundo #333 (cinza escuro) */
  color: #fff; /* Cor do texto branca */
  font-family: 'Orbitron', sans-serif; /* Aplicar a fonte Orbitron ao corpo da página */
  margin: 0;
  padding: 0;
}

a{color: coral;}

.badge-icons {
      position: fixed;
      top: 10px; /* Posição a partir do topo */
      right: 10px; /* Posição a partir da direita */
      z-index: 1000; /* Para garantir que os ícones fiquem na parte superior */
    }

.container {
  margin-top: 20px;
}

.logo {
  width:250px;
}

.card {
    background-color: #f1f1f1;
    color: #111;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    border: thin solid #666;
    border-radius: 20px;
    overflow: hidden;
}
.privacy {
    background-color: #f1f1f1;
    color: #111;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    overflow: hidden;
}

.card-title {
  font-family: 'Orbitron', sans-serif; /* Aplicar a fonte Orbitron aos títulos dos cartões */
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}

.btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 0;
}

.btn:hover {
  background-color: #0056b3;
}

.card img {
  width: 100%;
}

.container .row {
  justify-content: center;
}

.btn-google img {
  width: 100%;
}

.rodape{
  border-top: thin solid #333
  padding:10px;
  color:#444;
}
